.ums{
	color:white;
	text-align:center;
}
.logo{
	display: block;
	height:250px; 
	width:250px;
	margin-left:60px;
	margin-top:10px;
	margin-bottom:-40px;
	border-radius: 50% !important;
	overflow: hidden;
	
}
ion-item{
    --background: #fff;
}

ion-button{
    --background: #062f77;
}